<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>testProject.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1881F2241CB3C2FF00F19B74</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1881F23B1CB3C2FF00F19B74</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1881F2461CB3C2FF00F19B74</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
